{%
  set card_classes = [
    'card',
    variant and variant != 'default' ? 'card--' ~ variant,
    modifier_class
  ]
%}

{% if url or attributes.href %}
  {% set tag_name = 'a' %}
  {% set url = url|default(attributes.href) %}
  {% set attributes = attributes.setAttribute('href', url) %}
{% else %}
  {% set tag_name = 'div' %}
{% endif %}

<{{ tag_name }} {{ attributes.addClass(card_classes) }}>

  <div class="card__content">
    <div class="card__title">
      {{ title }}
    </div>

   {# {% if tags %}
      <div class="card__tags">
        {% for tag in tags %}
          {{ tags }}
        {% endfor %}
      </div>
    {% endif %} #}
    {% if summary.0 %}
      <div class="card__summary">
        {{ summary }}
      </div>
    {% endif %}
  </div>

  {% if image.0 %}
    <div class="card__image">
      {{ image }}
    </div>
  {% endif %}
</{{ tag_name }}>
