{%
  set card_classes = [
    'card',
    variant and variant != 'default' ? 'card--' ~ variant,
    modifier_class
  ]
%}

<div{{ attributes.addClass(card_classes) }}>
  <div class="card__content">
    <div class="card__title">
      {{ title }}
    </div>

   {% if card_tags %}
      <div class="card__tags">
        {{ card_tags }}
      </div>
    {% endif %}

    {% if summary %}
      <div class="card__summary">
        {{ summary }}
      </div>
    {% endif %}

    {% if footer %}
      <div class="card__footer">
        {{ footer }}
      </div>
    {% endif %}

  </div>

  {% if image|render|trim %}
    <div class="card__image">
      {{ image }}
    </div>
  {% endif %}

</div>
