{%
  set classes = [
    'blockquote',
    variant and variant != 'default' ? 'blockquote--' ~ variant
  ]
%}


{# {% if url %}
    {% set attributes = attributes.setAttribute('cite', url) %}
{% endif %} #}

{% if url or attributes.href %}
  {% set url = url|default(attributes.href) %}
  {% set link_attributes = attributes.setAttribute('href', url) %}
{% endif %}

<blockquote{{ attributes.addClass(classes) }}>
  {{ content }}

  <cite class="blockquote__cite">
    {{ cite }}

    <a{{ link_attributes }}>{{ link }}</a>
  </cite>
</blockquote>
