{%
  set title_classes = [
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes }}>
      {% for item in items %}
        <span{{ item.attributes }}>
        {# {{ item.content }} #}

      {# TODO - field template might be in the wrong place for a component #}
          {{ include ('skeleton:avatar', {
            image: item.content,
            size: 'S',
          }, with_context: false) }}
      </span>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <span{{ item.attributes }}>
      {# {{ item.content }} #}

      {# TODO - field template might be in the wrong place for a component #}
        {{ include ('skeleton:avatar', {
          image: item.content,
          size: 'S',
        }, with_context: false) }}
      </span>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes }}>
    <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div>
    {% endif %}
    {% for item in items %}
      <span{{ item.attributes }}>
        {{ item.content }}
      </span>
    {% endfor %}
    {% if multiple %}
      </div>
    {% endif %}
  </div>
{% endif %}
