{% if content %}
  <div class="row row--wrap">
    {% if content.first %}
      <div {{ region_attributes.first.addClass('col p-1') }}>
        {{ content.first}}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('col p-1') }}>
        {{ content.second}}
      </div>
    {% endif %}

    {% if content.third %}
      <div {{ region_attributes.third.addClass('col p-1') }}>
        {{ content.third}}
      </div>
    {% endif %}

    {% if content.fourth %}
      <div {{ region_attributes.fourth.addClass('col p-1') }}>
        {{ content.fourth}}
      </div>
    {% endif %}
  </div>
{% endif %}
