{%
  set classes = [
    'downloads',
    variant and variant != 'default' ? 'download-group--' ~ variant,
  ]
%}

{% set title_tag = title_tag|default('h4') %}

{% if downloads %}
  <div{{ attributes.addClass(classes) }}>
    {% if title %}
      <{{ title_tag }} class="downloads__title">{{ title }}</{{ title_tag }}>
    {% endif %}
    <div class="downloads__items">
      {% set downloads = downloads and downloads is not sequence ? [downloads] : downloads %}
      {% for download in downloads %}
        {{ download }}
      {% endfor %}
    </div>
  </div>
{% endif %}
