<article{{ attributes }}>

  {{ title_prefix }}
  {% if label and not page %}
    <h2{{ title_attributes }}>
      <a href="{{ url }}" rel="bookmark">{{ label }}</a>
    </h2>
  {% endif %}
  {{ title_suffix }}

  {% if display_submitted %}
    <footer class="container row row--justify-center">
      <div class="col col--8">
        {{ author_picture }}
        <div{{ author_attributes }}>
          {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
        </div>
      </div>
    </footer>
  {% endif %}

  <div{{ content_attributes }}>

    {% if node.field_hero_heading_is_page_title.value %}
      {{ include ('skeleton:hero', {
          attributes: attributes,
          image: content.field_hero_image,
          text: content.field_hero_text,
          variant: 'style-fancy',
          theme: 'theme-primary',
          layout: 'layout-diptych',
          'heading': [
            include('skeleton:title', {
              content: node.label,
              html_tag: 'h1',
              size: 'XL',
            }, with_context = false),
          ],
          page_title: node.field_hero_heading_is_page_title.0.value,
        }) }}

     {% else %}

      {{ include ('skeleton:hero', {
       attributes: attributes,
       image: content.field_hero_image,
       text: content.field_hero_text,
       variant: 'style-fancy',
       theme: 'theme-primary',
       layout: 'layout-diptych',
       'heading': [
         include('skeleton:title', {
           content: content.field_hero_heading,
           html_tag: 'h2',
           size: 'L',
         }, with_context = false),
       ],
       page_title: node.field_hero_heading_is_page_title.0.value,
     }) }}
    {% endif %}

    {{ content.body }}

    {{ content.field_section }}
  </div>

</article>
