{% set classes = [
  'block',
  'block--footerlogo'
] %}

{% set attributes = attributes.addClass(classes|filter(v => v != '')) %}

<div{{ attributes }}>

    {{ title_prefix }}
    {% if label %}
      <div class="block__title">
        {{ include ('skeleton:title', {
          content: label,
          html_tag: 'h3',
          size: 'M',
          variant: 'block',
        }, with_context: false) }}
        </div>
    {% endif %}
    {{ title_suffix }}

  <div class="block__content">
    {% block content %}
      <a class="link block__link" href="{{ path('<front>') }}" rel="home">{{ site_name }}
        <div class="block__image">{{ content.field_image }}</div>
        <div class="block__image-label">{{ content.field_image_label }}</div>
      </a>
    {% endblock %}
  </div>
</div>
