{% if attributes.storage() %}
<div{{ attributes }}>
{% endif %}

{{ title_prefix }}
{% if label %}
  {{ include ('skeleton:title', {
    attributes: attributes,
    content: label,
    html_tag: 'h2',
    size: 'M',
    variant: 'block',
  }, with_context: false) }}
{% endif %}
{{ title_suffix }}

{% block content %}
  {{ content }}
{% endblock %}

{% if attributes.storage() %}
</div>
{% endif %}
