{% for story_id, story in component.stories %}
  {{ _self.render_story(component.id, story_id, story, component.variants) }}
{% endfor %}

{% macro render_story(component_id, story_id, story, variants) %}
  <div class="ui-patterns__story">
    <h3 class="title">{{ story.name }}</h3>
    {% if variants and not story.props.variant %}
        {% for variant_id, variant in variants %}
          {{ component_story(component_id, story_id, {}, {variant: variant_id}, true) }}
        {% endfor %}
    {% else %}
    <div class="ui-patterns__story-variant">
      <h4 class="title">{{ variant.name }}</h4>
      {{ component_story(component_id, story_id, {}, {}, true) }}
    </div>
    {% endif %}
  </div>
{% endmacro %}
